{
    "extends": [
        "react-app",
        "prettier"
    ], 
    "rules": {
        "jsx-quotes": [
            1,
            "prefer-double"
        ],
        "no-console": "warn",
        "no-debugger": "warn"
    },
    "plugins": [
        "prettier"
    ]
}
